@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;  
}
#navbar
{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: .5rem .5rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0,.5);
  background-color: white;
}
.navbar .navbar-brand
{
  color: green !important;
}
#navbarSupportedContent a
{
  color: green;
  border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
  border-bottom: 2px solid;
  color: #29f700;
}
#navbarSupportedContent button
{
  background-color: yellow;
  width : 10rem;
  border-radius: 15px;
}
section
{
  width: 100%;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****Home*****/

#home
{
  background: linear-gradient(rgba(0, 0, 0, .3),rgba(0, 0, 0, .4)),url(banner.jpeg); 
  background-size: cover;
  background-position: center ;
  display: flex;

}
/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section
{
  padding: 50px;
  text-align: center;
  background-color: black;
  color: red;
  max-height: 100px;
}

.container {
  padding: 0 16px;

}
.container h2
{
  color:black;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
